@import "../../../../../assets/colors.scss";
@import "../../../../../assets/borders.scss";
@import "../../../../../assets/shadows.scss";

:host {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $bg-primary-700;
  height: 4rem;
  width: 20rem;
  pointer-events: all;
  border-radius: $border-radius-sm;
  box-shadow: $shadow-blur;
  padding: 1rem;
  align-items: center;
}

$track-height: 0.6rem;
$thumb-height: 1rem;
@mixin track {
  background: $bg-primary-500;
  height: $track-height;
  border-radius: 1rem;
}
@mixin thumb {
  background-color: $bg-primary-100;
  height: $thumb-height;
  width: 1rem;
  border-radius: 1rem;
}
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
  &::-webkit-slider-runnable-track {
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }
  &::-webkit-slider-thumb {
    margin-top: calc(calc($track-height/2) - calc($thumb-height/2));
    -webkit-appearance: none;
    appearance: none;
    @include thumb();
  }
  &::-moz-range-thumb {
    border: none;
    @include thumb();
  }
}

.graphEditorZoom-label {
  margin-bottom: 0.2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.graphEditorZoom-minus,
.graphEditorZoom-plus {
  &:hover {
    cursor: pointer;
  }
  margin-bottom: 0.2rem;
  padding: 0 0.3rem;
}
