<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="inspectionState.Nothing">
    <ng-container *ngTemplateOutlet="nothingTmpl"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="inspectionState.Person">
    <ng-container *ngTemplateOutlet="personTmpl; context: { person: inspectedPerson }"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="inspectionState.Connection">
    <ng-container *ngTemplateOutlet="connectionTmpl; context: { connection: inspectedConnection }"></ng-container>
  </ng-container>
</ng-container>

<ng-template #nothingTmpl>
  <p class="inspector-nothing__info">Select nodes / connections / groups to inspect them</p>
</ng-template>

<ng-template #personTmpl let-person="person">
  <div class="header">
    <h1 class="inspector-person__heading">{{ person.name }}</h1>
    <button a-sia-button-small buttonStyle="delete" (click)="deleteInspectedPerson()" type="delete" type="button">
      Delete?
    </button>
  </div>
  <a-sia-slider
    for="t0"
    label="T(0)"
    [min]="-3"
    [max]="3"
    [step]="0.1"
    minColor="#ff013d"
    maxColor="#4bdb50"
    (valueChange)="updatePerson({ id: person.id, t0: $event })"
    [value]="person.simulationValues.get(0)"
  >
  </a-sia-slider>
  <a-sia-input-small for="name" label="Name">
    <input
      #nameInput
      aSiaInputSmall
      name="name"
      (input)="updatePerson({ id: person.id, name: nameInput.value })"
      [value]="person.name"
    />
  </a-sia-input-small>
  <a-sia-input-small for="reflection" label="Reflection">
    <input
      #reflectionInput
      aSiaInputSmall
      name="reflection"
      (input)="updatePerson({ id: person.id, reflection: reflectionInput.value })"
      [value]="person.reflection.toFixed(2)"
    />
  </a-sia-input-small>
  <a-sia-input-small for="persistance" label="Persistance">
    <input
      #persistanceInput
      aSiaInputSmall
      name="persistance"
      (input)="updatePerson({ id: person.id, persistance: persistanceInput.value })"
      [value]="person.persistance.toFixed(2)"
    />
  </a-sia-input-small>
  <a-sia-color-input (colorChanged)="updatePerson({ id: person.id, color: $event })" [color]="person.color">
  </a-sia-color-input>
  <div>
    <h3>Incoming Relations</h3>
    <div *ngFor="let personIncoming of connectedPersons.incoming" class="relation relation-incoming">
      <span class="relation__person-name">
        {{ person.name }}
      </span>
      <div
        class="relation__incoming-symbol"
        [style.borderBottom]="'0.3rem solid ' + getInfluenceColor(personIncoming.relation.influence)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="12"
          viewBox="0 0 22 10"
          fill="none"
          style="transform: scale(-1, 1)"
        >
          <path
            d="M20.3429 8H2L2 2L20.3429 8Z"
            fill="#E7EBEE"
            stroke="#E7EBEE"
            stroke-width="2.5"
            stroke-linejoin="round"
          />
        </svg>
        {{ personIncoming.relation.influence.toFixed(2) }}
      </div>
      <span class="relation__person-name">
        {{ personIncoming.person.name }}
      </span>
    </div>

    <h3>Outgoing Relations</h3>
    <div *ngFor="let personOutgoing of connectedPersons.outgoing" class="relation relation-outgoing">
      <span class="relation__person-name">
        {{ person.name }}
      </span>
      <div
        class="relation__incoming-symbol"
        [style.borderBottom]="'0.3rem solid ' + getInfluenceColor(personOutgoing.relation.influence)"
      >
        {{ personOutgoing.relation.influence.toFixed(2) }}
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 22 10" fill="none">
          <path
            d="M20.3429 8H2L2 2L20.3429 8Z"
            fill="#E7EBEE"
            stroke="#E7EBEE"
            stroke-width="2.5"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="relation__person-name">
        {{ personOutgoing.person.name }}
      </span>
    </div>
  </div>
</ng-template>

<ng-template #connectionTmpl let-connection="connection">
  <div class="relation relation-outgoing">
    <h3 class="relation__person-name">
      {{ personA.name }}
    </h3>
    <div
      class="relation__incoming-symbol"
      [style.borderBottom]="'0.3rem solid ' + getInfluenceColor(inspectedConnection.influence)"
    >
      {{ inspectedConnection.influence.toFixed(2) }}
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 22 10" fill="none">
        <path
          d="M20.3429 8H2L2 2L20.3429 8Z"
          fill="#E7EBEE"
          stroke="#E7EBEE"
          stroke-width="2.5"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <h3 class="relation__person-name">
      {{ personB.name }}
    </h3>
  </div>
  <div class="delete-connection-container">
    <button a-sia-button-small buttonStyle="delete" (click)="deleteInspectedConnection()" type="delete" type="button">
      Delete?
    </button>
  </div>
  <a-sia-slider
    for="influence"
    label="Influence"
    [min]="-1"
    [max]="1"
    [step]="0.01"
    minColor="#ff013d"
    maxColor="#4bdb50"
    (valueChange)="updateConnection({ id: inspectedConnection.id, influence: $event })"
    [value]="inspectedConnection.influence"
  >
  </a-sia-slider>
  <a-sia-input-small for="interval" label="Interval">
    <input
      #intervalInput
      aSiaInputSmall
      name="interval"
      (input)="updateConnection({ id: inspectedConnection.id, interval: intervalInput.value })"
      [value]="inspectedConnection.interval"
    />
  </a-sia-input-small>
  <a-sia-input-small for="offset" label="Offset">
    <input
      #offsetInput
      aSiaInputSmall
      name="offset"
      (input)="updateConnection({ id: inspectedConnection.id, offset: offsetInput.value })"
      [value]="inspectedConnection.offset"
    />
  </a-sia-input-small>
</ng-template>
