<div class="network-explorer-panel">
  <ng-container *ngIf="projectHierarchy">
    <ng-container *ngTemplateOutlet="recursiveNodeTmpl; context: { node: projectHierarchy }"></ng-container>
  </ng-container>

  <ng-template #recursiveNodeTmpl let-node="node">
    <ng-container *ngIf="node?.children?.length === 0; else detailsTmpl">
      <span
        #leaf
        #element
        [attr.data-id]="node?.id"
        class="network-explorer-panel__leaf"
        (click)="clickDetail($event, leaf, node.url, node.id)"
      >
        {{ node?.name }}
      </span>
    </ng-container>
    <ng-template #detailsTmpl>
      <details #detail #element [attr.data-id]="node?.id">
        <summary (dblclick)="toggleDetail(detail)" (click)="clickDetail($event, detail, node?.url, node?.id)">
          {{ node?.name }}
        </summary>
        <ul *ngIf="node?.children?.length > 0; else detailsTmpl" class="network-explorer-panel__list">
          <ng-container *ngFor="let childNode of node?.children">
            <li class="network-explorer-panel__list-item">
              <ng-container *ngTemplateOutlet="recursiveNodeTmpl; context: { node: childNode }"></ng-container>
            </li>
          </ng-container>
        </ul>
      </details>
    </ng-template>
  </ng-template>
</div>
<div class="network-explorer-inspector">
  <router-outlet></router-outlet>
</div>
